/*
The Worst CSS script
That could've been written
This is the most simple way tho.

Author: Jyotirmoy Barman
Github: jewel998.github.io
Branch: Computer Science and Engineering
Institution: MNNIT
*/
html{
    --outer-circle-color-1: #f65c78;
    --outer-circle-color-2: #fb7262;
    --outer-circle-color-3: #f3af9e;
    --stroke-circle-color: #ff264e;
    --brand-color-1:#ff264e;
    --brand-color-2:#74D1EA;
    --background: #292e36;
    --text-color:white;
    --button-border-1: #fb7262;
    --button-border-2: #ff264e;
    --button-border-3: #f65c78;
    --spin-3: 25s;
    --spin-2: 10s;
    --spin-1: 15s;
    --scrollbar-color: #ff264e;
    --scrollbar-background: #f65c78;
    --shield-background:#252C37;
    --border:cyan;
    --skew:-45deg;
    --inverse-skew:45deg;
    --profile-link-color-1: white;
    --timeline-color: white;
    --timeline-box: #00000045;
  }
  html,body{margin:0;padding:0;width:10vw;height:100vh;background:var(--background);overflow-X:hidden;}
  a{text-decoration:none;}
  div::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
    border-left: 1px solid var(--scrollbar-background);
    border-right: 12px solid transparent; }
   div::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-left: 2px solid var(--scrollbar-color);
    border-right: 11px solid transparent; }
   div::-webkit-scrollbar-thumb:window-inactive, div::-webkit-scrollbar-thumb:-moz-window-inactive {
      background-color: transparent; }
  .flex{position:absolute;display:flex;margin:0;padding:0;justify-content:center;flex-wrap:wrap;width:100vw;height:60vh;top:40%;left:50%;transform:translate(-50%,-40%);}
  #starting-info,#logo,#main-buttons,#button-info{font-family:"Poppins",sans-serif;font-size:12px;color:var(--text-color);margin:auto 1%;max-height:60vh;}
  #starting-info,#main-buttons,#button-info{transition:ease-in-out 0.5s all;}
  #logo{width:30vw;position:relative;height:30vw;font-family:"DeLarge",sans-serif;transform-style:preserve-3d;}
  #main-buttons{width:15%;}
  #starting-info{text-align:right;width:20%;}
  #starting-info *{margin:0;}
  #starting-info .brand{text-shadow: 1px -1px 0 var(--brand-color-1), -1px -1px 0 var(--brand-color-1), -1px 1px 0 var(--brand-color-1), 1px 1px 0 var(--brand-color-1);font-size:200%;color:var(--background);line-height:85px;}
  #starting-info .brand span:nth-child(1){text-shadow: 1px -1px 0 var(--brand-color-2), -1px -1px 0 var(--brand-color-2), -1px 1px 0 var(--brand-color-2), 1px 1px 0 var(--brand-color-2);color:var(--background);}
  #starting-info .brand span:nth-child(2){text-shadow: 1px -1px 0 var(--text-color), -1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);color:var(--background);}
  #starting-info .year{text-shadow: 1px -1px 0 var(--text-color), -1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);font-size:200%;color:var(--background);line-height:85px;}
  #starting-info .light{color:#999;transform:translateX(15px);}
  #starting-info p:nth-of-type(2){transform:translateX(15px);}
  #starting-info p span:nth-child(even){color:var(--brand-color-2);}
  #starting-info p span:nth-child(odd){color:var(--brand-color-1);}
  .hide{width:0 !important;overflow:hidden;margin:0 !important;opacity:0;}
  #main-buttons > div > a{display:inline-block;font-size:16px;transition:ease-in-out 0.5s all;border:1.5px solid var(--button-border-1);border-radius:18px;padding:2px;margin:2vh 2px;cursor:pointer;text-transform:uppercase;letter-spacing: 2px;}
  #main-buttons > div > a > i{border:3px solid var(--button-border-2);border-radius:50%;padding:7px;margin-right:10px;height:13px;width:13px;text-align:center;font-size:12px;}
  #main-buttons > div > a:nth-child(1){width:220px;height:33px;overflow:hidden;}
  #main-buttons > div > a:nth-child(2){display:none;text-align:right;}
  #main-buttons > div > a:nth-child(2) > i{margin-right:0;margin-left:10px;}
  #main-buttons > div:first-of-type,#main-buttons > div:last-of-type{transform:translateX(-20px);}
  #main-buttons > div:nth-child(2),#main-buttons > div:nth-last-child(2){transform:translateX(-10px);}
  .question::before{
      content:"+";
      margin-right:5px;
      color: red;
      padding: 0 4px;
  }
  .question{padding:10px;cursor:pointer;font-size:15px;position:relative;}
  .answer{display:none;font-size:11px;padding:10px 0 10px 0;margin-left:10px;}
  .show::before{content:"🔽";}
  .show > .answer{display:block;}
  #FAQ{max-height:40vh;overflow-Y:auto;}
  .button-active > div{display:block !important;}
  @media only screen and (min-width:768px){
    .active > div > a:nth-child(1){height:33px;width:33px !important;border-radius:50%;overflow:hidden;}
    .button-active > a:nth-child(1){border-color:white !important;width:42.5px !important;}
    .button-active > a:nth-child(2){display:inline-block !important;margin-left:35px !important;}
    #main-buttons > div > a{display:inline-block;}
    #main-buttons.active > div{display:flex;width:140%;z-index: 1;}
    .button-active{z-index:5 !important;}
    #main-buttons.active > div > a:nth-child(2){width:160px;color:var(--background);background:var(--button-border-2);box-shadow: 0 0 0 2px var(--background) inset;height:34px;overflow:hidden;margin-right:0;}
    #main-buttons.active > div > a:nth-child(2) > i{border:3px solid var(--button-border-2);background:var(--background);color:var(--text-color);}
    #main-buttons > div{position:relative;font-size:95%;}
    #main-buttons > div > div{display:none;position:absolute;right:0;border:1px solid var(--button-border-3);width:60%;text-align:right;margin:0;padding:8px 10px;}
    #main-buttons > div > div.bottom-left{bottom:0;transform:translateY(100%);border-radius:0 0 0 50px;}
    #main-buttons > div > div.up-left{top:0;transform:translateY(-100%);border-radius:50px 0 0 0;}
    #registration{width:30vw !important;transform:translate(102%,75%) !important;z-index:5}
    #FAQ{width:30vw !important;transform:translate(65%,100%) !important;z-index:5}
    #prizes-box{transform:translate(102%,45%) !important;}
    #judge-box{transform:translate(102%,55%) !important;}
    #sponsors-box{transform:translate(102%,30%) !important;}
    #team-box{transform:translate(102%,20%) !important;}
    #registration,#judge-box,#prizes-box,#sponsors-box,#team-box{width:35vw !important;height:70vh;}
  }
  @media only screen and (min-width:768px) and (max-width:991px){
      #main-buttons > div{width:200% !important;}
      #judge-box,#prizes-box,#sponsors-box,#registration,#team-box{width:25vw !important;height:60vh;}
      .prize-platform ~ h3{margin-top:35px;}
      header .left > div:nth-child(2){right:-9% !important;}
      header.ready .right > div:nth-child(2) > p{display:none !important;}
      footer .center > div > a:nth-child(1):after{content:"" !important;}
      footer .center > div > a:nth-child(2):after{content:"" !important;}
      footer .center > div > a:nth-child(3):after{content:"" !important;}
      footer .center > div > a:nth-child(4):after{content:"" !important;}
  }
  @media only screen and (min-width:370px) and (max-width:768px){
    header .left > div:nth-child(2){right:-14% !important;}
    header.ready .right > div:nth-child(2) > p{display:none !important;}
  }

  [class^="outer-spinner"]{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:5px solid black;
    border-radius:50%;
  }
  .outer-spinner-3{
    width:18vw;
    height:18vw;
    transform:translate(-50%,-50%) rotate(0deg) translateZ(140px);
    border-color: var(--outer-circle-color-3) transparent;
    border-style: dashed;
    border-width: 6px;
    animation: spin-2 linear infinite var(--spin-3);
    transition:ease-in-out 0.1s all;
  }
  .outer-spinner-2{
    width:21.2vw;
    height:21.2vw;
    border-color: transparent var(--outer-circle-color-1);
    animation: spin linear infinite var(--spin-2);
    transition:ease-in-out 0.1s all;
  }
  .outer-spinner-1{
    width:23vw;
    height:23vw;
    transform:translate(-50%,-50%) rotate(0deg) translateZ(70px);
    border-color: var(--outer-circle-color-2) transparent;
    animation: spin-1 linear infinite var(--spin-1);
    transition:ease-in-out 0.1s all;
  }
  #logo-move > svg{
    top:50%;
    left:50%;
    height:100%;
    width:100%;
    transform:translateZ(100px);
    margin:0;
    transition:ease-in-out 0.1s all;
  }
  #logo-move > #logo-center{
    position:absolute;
    height:35%;
    width:35%;
    color:var(--background);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) translateZ(200px);
    text-align:center;
    font-size:4vw;
    margin:0;
    letter-spacing: 8px;
    line-height:4vw;
    text-shadow: 2px -2px 2px var(--brand-color-1), -2px -2px 2px var(--brand-color-1), -2px 2px 2px var(--brand-color-1), 2px 2px 2px var(--brand-color-1);
  }
  #logo-center > img{position:absolute;width:100%;top:50%;left:50%;transform:translate(-50%,-50%);}
  #logo > #logo-center > span{
    text-shadow: 2px -2px 2px var(--brand-color-2), -2px -2px 2px var(--brand-color-2), -2px 2px 2px var(--brand-color-2), 2px 2px 2px var(--brand-color-2);
  }
  @keyframes spin{
    100%{transform: translate(-50%,-50%) rotate(360deg);}
  }
  @keyframes spin-1{
    100%{transform: translate(-50%,-50%) rotate(360deg) translateZ(70px);}
  }
  @keyframes spin-2{
    100%{transform: translate(-50%,-50%) rotate(360deg) translateZ(140px);}
  }
  
  @media only screen and (max-width:768px){
    .flex{display:block;}
    #starting-info{margin-bottom:20px !important;}
    #logo,#starting-info{width:80%;margin:auto;text-align:center;position:relative;}
    #logo{width:60vw !important;height:80vw !important;}
    #logo-move{width:60vw !important;height:60vw !important;margin-bottom:16px;}
    #logo #logo-center{font-size:10vw !important;line-height:10vw !important;}
    #main-buttons{text-align: left;width:90%;margin:auto;}
    #main-buttons > div{width:60% !important;margin:auto;}
    #main-buttons > div > a{width:98% !important;}
    #main-buttons > div:first-of-type,#main-buttons > div:last-of-type{transform:translateX(0);}
    #main-buttons > div:nth-child(2),#main-buttons > div:nth-last-child(2){transform:translateX(0);}
    #starting-info .light{color:#999;transform:translateX(0);}
    #starting-info p:nth-of-type(2){transform:translateX(0);}
    .active > div > a:nth-child(1){height:33px;width:100% !important;border-radius:18px;overflow:hidden;}
    .button-active > a:nth-child(1){display:none !important;}
    .button-active > a:nth-child(2){display:inline-block !important;margin-left:0 !important;}
    #main-buttons > div > a{display:inline-block;}
    #main-buttons.active > div > a:nth-child(2){width:100%;background:var(--button-border-2);box-shadow: 0 0 0 2px var(--background) inset;height:34px;overflow:hidden;}
    #main-buttons.active > div > a:nth-child(2) > i{border:3px solid var(--button-border-2);background:var(--background);}
    #main-buttons > div{position:relative;font-size:95%;}
    #main-buttons > div > div{display:none;position:relative;border:1px solid var(--button-border-3);width:100%;text-align:right;margin:0;padding:8px 10px;}
    #main-buttons > div > div.bottom-left{border-radius:0 0 0 50px;}
    #main-buttons > div > div.up-left{border-radius:50px 0 0 0;}
    .outer-spinner-3{width:35vw !important;height:35vw !important;}
    .outer-spinner-2{width:44vw !important;height:44vw !important;}
    .outer-spinner-1{width:48vw !important;height:48vw !important;}
    #judge-box,#prizes-box,#sponsors-box,#registration,#team-box{margin:30px 0 !important;height:50vh !important;}
    .judge{margin:0 0 20px !important;}
    .judge-image{height:35px !important;width:35px !important;}
    .judge-name{font-size:11px !important;}
    .judge-designation{font-size:8px !important;}
    .judge-about{font-size:9px !important;}
    #sponsors-logo > div{max-width:70px !important;max-height:70px !important;margin:4% !important;}
    .prize-platform ~ h3{margin-top:35px;}
    #main-buttons{padding-bottom:20vh !important;}
    .button-active{padding-bottom:5vh !important;}
    header .left > div:nth-child(1){height:105%!important;transform:skew(var(--skew)) translateX(13%) !important;z-index:102;}
    header .right > div:nth-child(1){height:105%!important;transform:skew(var(--inverse-skew)) translateX(-14%) !important;}
    header .center{transform:translateY(2%) !important;}
    footer.ready .right > div:nth-child(2) > a{font-size:9px !important;padding:0 2px;margin:0!important;}
    header.ready .right > div:nth-child(2) > p{display:none !important;}
    footer .center > div > a:nth-child(1):after{content:"" !important;}
    footer .center > div > a:nth-child(2):after{content:"" !important;}
    footer .center > div > a:nth-child(3):after{content:"" !important;}
    footer .center > div > a:nth-child(4):after{content:"" !important;}
    footer .center > div > a{margin:0 8px !important;font-size:80% !important;}
}
#judge-box,#prizes-box,#sponsors-box,#team-box{text-align:left;overflow-Y:auto;padding-top:25px !important;}
.judge-info{position:relative;display:flex;}
.judge-image{height:50px;width:50px;border-radius:50%;position:relative;float:left;margin:0 12px;overflow:hidden;}
.judge-image > img{width:120%;height:auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.judge-info > div:nth-child(2){margin:auto 0;text-align:left;}
.judge-name{font-weight:700;color:var(--background);letter-spacing:2px;font-size:15px;}
.judge-designation{font-size:12px}
.judge-name,.judge-designation{font-family:"Poppins",sans-serif;text-transform: uppercase;}
.judge:nth-child(odd) .judge-image{border:3px solid var(--brand-color-1);}
.judge:nth-child(odd) .judge-name{text-shadow:0.5px -0.5px 0 var(--brand-color-1), -0.5px -0.5px 0 var(--brand-color-1),-0.5px 0.5px 0 var(--brand-color-1),0.5px 0.5px 0 var(--brand-color-1);}
.judge:nth-child(odd) .judge-designation{color:orange;}
.judge:nth-child(even) .judge-image{border:3px solid var(--brand-color-2);}
.judge:nth-child(even) .judge-name{text-shadow:0.5px -0.5px 0 var(--brand-color-2), -0.5px -0.5px 0 var(--brand-color-2),-0.5px 0.5px 0 var(--brand-color-2),0.5px 0.5px 0 var(--brand-color-2);}
.judge:nth-child(even) .judge-designation{color:cyan;}
.judge-about{text-align:left;font-family:"Poppins",sans-serif;font-size:12px;padding:12px;color:var(--text-color);}
#sponsors-logo{display:flex;justify-content:center;margin:5% 0;flex-wrap:wrap;}
#sponsors-logo > div{max-width:120px;max-height:120px;margin:2%;}
#sponsors-logo > div img{width:100%;height:auto;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);filter:grayscale(100);transition:all ease-in-out 0.1s;-webkit-filter:brightness(0) invert(1);filter:brightness(0) invert(1);}
#sponsors-logo > div:hover img{-webkit-filter:brightness(1) invert(0);filter:brightness(1) invert(0);}
.prize-platform{height:25vh;padding:10% 0;justify-content:center;display:flex;}
.prize-platform > div{border:2px solid var(--text-color);width:25%;max-width:100px;margin:auto 2.5px 0;position:relative;}
.prize-platform > div:nth-child(1){height:28%}
.prize-platform > div:nth-child(2){height:48%}
.prize-platform > div:nth-child(3){height:15%}
.prize-platform > div > div:nth-child(1){position:absolute;color:var(--text-color);top:50%;left:50%;transform:translate(-50%,-50%);font-size:150%;font-family:"Poppins",sans-serif;}
.prize-platform > div > div:nth-child(2){position:absolute;bottom:100%;left:50%;transform:translateX(-50%);color:var(--text-color);font-size:50px;}
.prize-platform > div > div:nth-child(2) > i{-webkit-text-stroke:1px var(--text-color);color:transparent;}
.prize-platform > div > div:nth-child(3){position:absolute;width:100%;text-align:center;top:100%;left:50%;transform:translate(-50%,10px);color:var(--text-color);font-size:110%;font-family:"Poppins",sans-serif;}
.participation-prize{color:var(--text-color);font-family:"Poppins",sans-serif;text-align:center;display:flex;justify-content:center;flex-wrap:wrap;}
.participation-prize > #logo-center{display:block;width:100%;}
.participation-prize > div{width:120px;position:relative;margin:1.5%;}
.participation-prize > div > div{width:100%;height:90px;position:relative;}
.participation-prize > div > div > a > img{position:relative;filter:brightness(0) invert(1);width:100%;top:50%;left:50%;transform:translate(-50%,-50%);transition:0.2s ease-in-out all;}
.participation-prize > div > p{padding:5% 2%;}
.participation-prize > div:hover > div > a > img{filter:none;}
header,footer{position:fixed;width:100vw;z-index:100;}
header{top:0;}
footer{bottom:0;}
.box{height:46vh;width:100%;background:var(--shield-background);transition:ease-out all 1s;transition-delay:1s;}
.ready .box{height:3vh;}
.curve{display:flex;width:100%;height:4vh;}
.left,.right{width:50%;height:100%;background:var(--shield-background);position:relative;}
.center{width:0;height:100%;transition:ease-out all 1s;}
header .left,header .right{border-bottom:1px solid var(--border);}
header.ready .center{width:100%;border-top:1px solid var(--border);}
.left > div:nth-child(1),.right > div:nth-child(1){position:absolute;width:100%;height:100%;background:var(--shield-background);}
header.ready .left > div:nth-child(1){transform:skew(var(--skew)) translateX(6%);border-right:1px solid var(--border);border-bottom:1px solid var(--border);}
header.ready .right > div:nth-child(1){transform:skew(var(--inverse-skew)) translateX(-6.8%);border-left:1px solid var(--border);border-bottom:1px solid var(--border);}
footer.ready .left > div:nth-child(1){transform:skew(var(--inverse-skew)) translateX(6%);border-right:1px solid var(--border);border-top:1px solid var(--border);z-index:104;}
footer.ready .right > div:nth-child(1){transform:skew(var(--skew)) translateX(-6.8%);border-left:1px solid var(--border);border-top:1px solid var(--border);}
footer.ready .center{width:100%;border-bottom:1px solid var(--border);transform: translateY(-3%)}
footer .right > div:nth-child(2),header .left > div:nth-child(2),header .right > div:nth-child(2),footer .center > div{position:relative;width:100%;height:100%;opacity:0;transition:ease-out 0.5s all;transition-delay:2s;}
footer.ready .right > div:nth-child(2),header.ready .left > div:nth-child(2),header.ready .right > div:nth-child(2),footer.ready .center > div{opacity:1}
footer.ready .right > div:nth-child(2) > a,header.ready .right > div:nth-child(2) > p{padding:1px 5px;position:relative;top:20%;margin:0 4px;color:white;}
footer.ready .right > div:nth-child(2) > a:hover{color:#999;}
header .left > div:nth-child(2){position:absolute;right:-10%;width:30% !important;margin:0;z-index:104;}
header .left > div:nth-child(2) > div:nth-child(1),header .left > div:nth-child(2) > div:nth-child(2){height:85%;margin:auto;background:#515b6b;display:inline-block;transform:skew(var(--skew));}
header .left > div:nth-child(2) > div:nth-child(1){width:30% !important;}
header .left > div:nth-child(2) > div:nth-child(2){width:50% !important;}
header.ready .right > div:nth-child(2) > p,header.ready .right > div:nth-child(2) > p > a{display:inline;font-family:"Poppins",sans-serif;font-size:0.8vw;color:#515b6b !important;}

.brand{animation: glitch linear infinite 5s;transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s all;}
.brand > span:nth-child(1){animation: glitch linear infinite 5s;animation-delay:0.5s;transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s all;}
.brand > span:nth-child(2){animation: glitch linear infinite 4s;animation-delay:0.5s;transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s all;}
@keyframes glitch{
  0%{opacity:1;}
  20%{opacity:0.4;}
  30%{opacity:1;}
  50%{opacity:0.3;}
  60%{opacity:1;}
  80%{opacity:0.5;}
  90%{opacity:1;}
  95%{opacity:0;}
  100%{opacity:1;}
}
.judge > div.profile-link{width:94%;text-align:left;padding:0 3%;margin:5px 0 35px;}
.judge > div.profile-link > a{color:var(--profile-link-color-1);border:1px solid var(--profile-link-color-1);padding:6px 10px;border-radius:0 10px 0 10px;transition:ease-out 0.5s all;}
.judge > div.profile-link > a:hover{background:var(--profile-link-color-1);color:var(--background);}
footer .center > div{width:100%;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:var(--text-color);font-family:"Poppins",sans-serif;font-size:90%;}
footer .center > div > a{color:var(--text-color);margin:0 15px;}
footer .center > div > a:nth-child(1):after{content:" Facebook";}
footer .center > div > a:nth-child(2):after{content:" Instagram";}
footer .center > div > a:nth-child(3):after{content:" Twitter";}
footer .center > div > a:nth-child(4):after{content:" E-mail";}
footer .right > div{font-family:"Poppins",sans-serif;font-size:70%;}
footer .right > div > a:before{content:"By: "}
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  color: var(--text-color);
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  z-index: 5;
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: var(--timeline-color);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: var(--timeline-box);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: var(--timeline-box);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 4em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;
	font-size:120% !important;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: var(--timeline-box);
	font-size:120%;
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: var(--timeline-box);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
	font-size:100%;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	display:none;
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: var(--timeline-box);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}
.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}
#sponsor-us{border:1px solid var(--text-color);color:var(--text-color);padding:10px 35px;line-height:50px;border-radius:20px;transition:ease-out 0.5s all;text-transform:uppercase;text-align:center;}
#sponsor-us:hover{color:var(--background);background:var(--text-color);}
#brand-ambassador,#code-of-conduct{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:0vh;
  width:75vw;
  background: #000000bf;
  z-index:50;
  color: var(--text-color);
  overflow-X:hidden;
  overflow-Y:auto;
  border-bottom:1px solid var(--button-border-2);
  border-top:5px solid var(--button-border-2);
  box-shadow: 0 0 18px 12px #000000bf;
  transition: ease-out 0.5s all;
  opacity:0;
}
.showCA,.showCOC{
  height:75vh !important;
  opacity:1 !important;
}
#brand-ambassador > .heading,#code-of-conduct > .heading{font-family:"Source Code Pro","Poppins",sans-serif;text-align:center;margin:0 auto;}
#brand-ambassador > .heading > h1,#code-of-conduct > .heading > h1{font-size:60px;margin-bottom:0;text-transform:uppercase;line-height: 50px;}
#brand-ambassador > .heading > h4,#code-of-conduct > .heading > h4{font-size:17px;letter-spacing:2px;text-transform:uppercase;margin-top:0;margin-bottom:0;}
#brand-ambassador > .content,#code-of-conduct > .content{display:flex;margin:auto;width:80%;justify-content:middle;}
#brand-ambassador > .content > .text,#code-of-conduct > .content > .text{font-family:"Poppins",sans-serif;width:75%;margin:0 15px;}
#brand-ambassador > .content > .milo-image,#code-of-conduct > .content > .milo-image{width:25%;margin:0 15px;}
#campus-ambassador-link{padding:8px 14px;margin:8px;border:1px solid var(--text-color);color:var(--text-color);background: transparent;border-radius:25px;cursor:pointer;transition:ease-out 0.5s all;}
#campus-ambassador-link:hover{background: var(--text-color);color:var(--background);}
@media only screen and (max-width:500px){
#brand-ambassador > .heading > h1,#code-of-conduct > .heading > h1{font-size:45px;line-height: 35px;}
#brand-ambassador > .heading > h4,#code-of-conduct > .heading > h4{font-size:12px;letter-spacing:1.5px;}
#brand-ambassador > .heading > hr,#code-of-conduct > .heading > hr{width:180px !important;}
}
@media only screen and (max-width:1000px){
  #brand-ambassador > .content,#code-of-conduct > .content{display:block !important;}
  #brand-ambassador > .content > .text,#code-of-conduct > .content > .text{font-size:80% !important;margin:0 !important;width:100% !important;}
  #brand-ambassador > .content > .milo-image,#code-of-conduct > .content > .milo-image{margin:50px auto !important;width:100% !important;max-width:250px !important;}
}
@media only screen and (max-width:480px){#logo{margin-top:calc(200px - 35vw);}}
@media only screen and (min-width:768px) and (max-width:1150px){
  #starting-info > p:first-of-type{
    max-height:120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
.team-members{display:flex;width:100%;justify-content:center;flex-wrap:wrap;}
.team-member{max-width:150px;margin:16px;}
.team-member-image{position:relative;width:70px;height:70px;border-radius:50%;margin:0 auto;overflow:hidden;}
.team-member-image > img{width:100%;height:auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.team-member-details{width:100%;text-align:center;}
.team-member-details > h3{margin-bottom:0;} .team-member-details > p{margin-top:5px;}
